@use "../../../scss/g.scss";

.game-language-section {
  background-color: rgba(255, 255, 255, 0.02);
  overflow: hidden;

  &__header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid g.$border-color;
  }

  &__header-item {
    display: flex;
    align-items: center;
    color: g.$muted-color;
    font-size: g.$small-font-size;
    font-weight: 600;
    flex: 1;
    padding: calc(g.$spacing-unit * 1.5) calc(g.$spacing-unit * 2.5);

    &--center {
      justify-content: flex-start;
      flex: 0 0 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    &:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    padding: calc(g.$spacing-unit * 1.5) calc(g.$spacing-unit * 2.5);
    font-size: g.$body-font-size;
    color: g.$body-color;
    display: flex;
    align-items: center;
    flex: 1;

    &--language {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--center {
      justify-content: flex-start;
      flex: 0 0 60px;
    }
  }

  &__check {
    color: g.$body-color;
    opacity: 0.8;
  }

  &__cross {
    color: g.$body-color;
    opacity: 0.8;
  }

  @media (max-width: 320px) {
    &__header,
    &__cell {
      padding: calc(g.$spacing-unit * 1) calc(g.$spacing-unit * 0.5);
      font-size: calc(g.$small-font-size * 0.9);
    }
  }
}
