@use "../../../scss/g.scss";

.game-options-modal {
  &__container {
    display: flex;
    gap: calc(g.$spacing-unit * 2);
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;

    &-description {
      font-weight: 400;
    }
  }

  &__cloud-sync-label {
    display: flex;
    gap: g.$spacing-unit;
    align-items: center;
  }

  &__cloud-sync-kraken-cloud {
    background: linear-gradient(270deg, #16b195 50%, #3e62c0 100%);
    color: #fff;
    padding: 0 g.$spacing-unit;
    border-radius: 4px;
    font-size: g.$small-font-size;
  }

  &__row {
    display: flex;
    gap: g.$spacing-unit;
  }

  &__executable-field {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;

    &-input {
      width: 100%;
    }

    &-buttons {
      display: flex;
      gap: g.$spacing-unit;
      flex-wrap: wrap;
    }
  }

  &__wine-prefix {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 2);

    &-input {
      width: 100%;
    }
  }

  &__launch-options {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;

    &-input {
      width: 100%;
    }
  }

  &__downloads {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__danger-zone {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;

    &-description {
      font-weight: 400;
    }

    &-buttons {
      display: flex;
      gap: g.$spacing-unit;
    }
  }
}
