@use "../../scss/g.scss" as g;

.collapsed-menu {
  &__button {
    height: 72px;
    padding: calc(g.$spacing-unit * 2) calc(g.$spacing-unit * 2);
    display: flex;
    align-items: center;
    background-color: g.$background-color;
    color: g.$muted-color;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.2s;
    gap: g.$spacing-unit;
    font-size: g.$body-font-size;
    font-weight: bold;

    &:hover {
      background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.05);
    }

    &:active {
      opacity: g.$active-opacity;
    }
  }

  &__chevron {
    transition: transform ease 0.2s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__content {
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
    position: relative;
  }
}
