@use "../../scss/g.scss" as g;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-download-source-modal {
  &__container {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
    min-width: 500px;
  }

  &__validation-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(g.$spacing-unit * 3);
  }

  &__validation-info {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit / 2);
  }

  &__validate-button {
    align-self: flex-end;
  }

  &__spinner {
    animation: spin 1s linear infinite;
    margin-right: calc(g.$spacing-unit / 2);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: g.$spacing-unit;
    margin-top: calc(g.$spacing-unit * 2);
  }
}
