@use "../../scss/g.scss" as g;

.settings-real-debrid {
  &__form {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__submit-button {
    align-self: flex-end;
    width: 100%;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
    margin-bottom: calc(g.$spacing-unit * 2);
    align-items: flex-start;
  }

  &__create-account {
    display: flex;
    align-items: center;
    gap: g.$spacing-unit;
  }
}
