@use "../../scss/g.scss" as g;

.settings-account {
  &__form {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 2);
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__actions {
    display: flex;
    gap: g.$spacing-unit;
    margin-top: g.$spacing-unit;
  }

  &__subscription-info {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 2);
  }

  &__subscription-button {
    place-self: flex-start;
  }

  &__blocked-users {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__blocked-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: g.$spacing-unit;
  }

  &__user-info {
    display: flex;
    gap: g.$spacing-unit;
    align-items: center;
  }

  &__user-avatar {
    filter: grayscale(100%);
  }

  &__unblock-button {
    color: g.$danger-color;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
