@use "../../scss/g.scss" as g;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.settings-download-sources {
  &__list {
    padding: 0;
    margin: 0;
    gap: calc(g.$spacing-unit * 2);
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: g.$dark-background-color;
    border-radius: 8px;
    padding: calc(g.$spacing-unit * 2);
    gap: g.$spacing-unit;
    border: solid 1px g.$border-color;
    transition: all ease 0.2s;

    &--syncing {
      opacity: g.$disabled-opacity;
    }

    &--pending {
      opacity: 0.6;
    }
  }

  &__spinner {
    animation: spin 1s linear infinite;
    margin-right: calc(g.$spacing-unit / 2);
    width: 12px;
    height: 12px;
  }

  &__item-header {
    margin-bottom: g.$spacing-unit;
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigate-button {
    display: flex;
    align-items: center;
    gap: g.$spacing-unit;
    color: g.$muted-color;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;

    &:disabled {
      cursor: default;
      text-decoration: none;
    }
  }

  &__buttons-container {
    display: flex;
    gap: g.$spacing-unit;
  }
}
