@use "../../scss/g.scss" as g;

.settings-behavior {
  &__checkbox-container {
    opacity: g.$disabled-opacity;
    cursor: not-allowed;

    &--enabled {
      opacity: 1;
      cursor: pointer;
    }

    &--with-tooltip {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    &--tooltip {
      cursor: pointer;
    }
  }
}
