@use "../../scss/g.scss" as g;

.settings {
  &__container {
    padding: 24px;
    width: 100%;
    display: flex;
  }

  &__content {
    background-color: var(--md-sys-color-surface);
    width: 100%;
    height: 100%;
    padding: calc(g.$spacing-unit * 3);
    border: solid 1px var(--md-sys-color-outline-variant);
    box-shadow: g.$shadow-2;
    border-radius: g.$border-radius-lg;
    gap: calc(g.$spacing-unit * 2);
    display: flex;
    flex-direction: column;
  }

  &__categories {
    display: flex;
    gap: g.$spacing-unit;
  }
}
