@use "../../../scss/g.scss";

.report-profile {
  &__button {
    align-self: flex-end;
    color: g.$muted-color;
    gap: g.$spacing-unit;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: g.$small-font-size;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 2);
  }

  &__submit {
    margin-top: g.$spacing-unit;
    align-self: flex-end;
  }
}
