@use "../../scss/globals.scss";
@use "../../scss/mixins.scss" as mixins;

.button {
  // Base button layout
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: globals.$spacing-unit;
  min-height: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  // Default to a filled Material You button style
  @include mixins.button-filled;
  @include mixins.text-label-medium;

  &--primary {
    // uses default filled style
  }

  &--outline {
    @include mixins.button-outlined;
  }

  &--dark {
    @include mixins.button-filled;
    background-color: globals.$dark-background-color;
    color: globals.$on-surface;
  }

  &--danger {
    @include mixins.button-filled;
    background-color: globals.$danger-color;
    color: globals.$on-primary;

    &:hover {
      background-color: darken(globals.$danger-color, 5%);
    }
  }
}
