@use "../../scss/g.scss" as g;

.bottom-panel {
  width: 100%;
  border-top: solid 1px g.$border-color;
  background-color: g.$background-color;
  padding: calc(g.$spacing-unit / 2) calc(g.$spacing-unit * 2);
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: space-between;
  position: relative;
  z-index: g.$bottom-panel-z-index;

  &__downloads-button {
    color: g.$body-color;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px g.$body-color;
      cursor: pointer;
    }
  }

  &__version-button {
    color: g.$body-color;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px g.$body-color;
      cursor: pointer;
    }
  }
}
