@use "../../scss/g.scss" as g;

.confirmation-modal {
  display: flex;
  flex-direction: column;
  gap: calc(g.$spacing-unit * 2);

  &__actions {
    display: flex;
    align-self: flex-end;
    gap: g.$spacing-unit;
  }
  &__description {
    font-size: 16px;
    line-height: 24px;
  }
}
