@use "../../scss/g.scss" as g;
@use "../../scss/mixins.scss" as mixins;

.text-field-container {
  flex: 1;
  gap: g.$spacing-unit;
  display: flex;
  flex-direction: column;

  &__text-field {
    display: inline-flex;
    width: 100%;
    align-items: center;
    min-height: 40px;
    flex: 1;
    min-width: 0;
    transition: all 0.2s ease;

    // Default to outlined Material You input style
    @include mixins.input-outlined;

    &--primary {
      // outlined is default, keep background transparent to blend with surface
    }

    &--dark {
      background-color: g.$background-color;
    }

    &--has-error {
      border-color: g.$danger-color;
    }

    &--focused {
      border-color: g.$primary;
      box-shadow: inset 0 0 0 1px rgba(g.$primary, 0.3);
    }
  }

  &__text-field-input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: g.$on-surface;
    cursor: default;
    font-family: inherit;
    text-overflow: ellipsis;
    padding: 0;

    &:focus {
      cursor: text;
    }

    &--read-only {
      text-overflow: inherit;
    }
  }

  &__toggle-password-button {
    cursor: pointer;
    color: g.$on-surface-variant;
    padding: g.$spacing-unit;
  }

  &__text-field-wrapper {
    display: flex;
    gap: g.$spacing-unit;
    width: 100%;
    align-items: center;
  }

  &__error-label {
    color: g.$error-color;
  }
}
