@use "../../../scss/g.scss";

.hero-panel-actions {
  &__action {
    border: solid 1px g.$muted-color;

    &--disabled {
      opacity: 0.5;
    }
  }

  &__container {
    display: flex;
    gap: calc(g.$spacing-unit * 2);
  }

  &__separator {
    width: 1px;
    background-color: g.$muted-color;
    opacity: 0.2;
  }
}
