@use "../../../scss/g.scss";

.hero-panel {
  width: 100%;
  height: 72px;
  min-height: 72px;
  padding: calc(g.$spacing-unit * 2) calc(g.$spacing-unit * 3);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid 1px rgba(var(--kraken-on-dark-rgb), 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.2s;
  border-bottom: solid 1px g.$border-color;
  overflow: hidden;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--kraken-on-dark);

  &--stuck {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 0.5);

    p {
      font-size: g.$small-font-size;
      color: rgba(var(--kraken-on-dark-rgb), 0.7);
      font-weight: 400;
      margin: 0;

      &:first-child {
        font-weight: 600;
        color: var(--kraken-on-dark);
      }
    }
  }

  &__actions {
    display: flex;
    gap: g.$spacing-unit;
  }

  &__download-details {
    gap: g.$spacing-unit;
    display: flex;
    color: var(--kraken-on-dark);
    align-items: center;
  }

  &__downloads-link {
    color: var(--kraken-on-dark);
    text-decoration: underline;
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: all ease 0.2s;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: g.$muted-color;
    }

    &--disabled {
      opacity: g.$disabled-opacity;
    }

    &--extraction {
      &::-webkit-progress-value {
        background-color: var(--kraken-on-dark);
      }
    }
  }
}
