@use "../../../scss/g.scss";

.locked-profile {
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__lock-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(g.$spacing-unit * 2);
  }
}
