@use "../../../scss/g.scss";

.user-stats {
  &__box {
    padding: calc(g.$spacing-unit * 2);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: calc(g.$spacing-unit * 2);
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    transition: all ease 0.1s;
    color: g.$muted-color;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: g.$spacing-unit;
    gap: g.$spacing-unit;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      text-decoration: none;
    }

    &--wrapped {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__list-title {
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__list-description {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: g.$spacing-unit;
  }

  &__stats-row {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-align: start;
    color: g.$body-color;

    &--warning {
      color: g.$warning-color;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__karma-info-text {
    color: g.$muted-color;
    font-size: 0.75rem;
    line-height: 1.4;
  }

  &__wrapped-link {
    background: none;
    border: none;
    padding: 0;
    text-align: start;
    color: g.$body-color;
    font-size: 0.875rem;
    cursor: pointer;
    text-decoration: underline;
  }
}
