@use "../../scss/g.scss" as g;

.toast {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  position: absolute;
  background-color: var(--md-sys-color-surface-container-high);
  border-radius: 4px;
  border: solid 1px var(--md-sys-color-outline-variant);
  right: calc(g.$spacing-unit * 2);
  // 28px is the height of the bottom panel
  bottom: calc(28px + g.$spacing-unit * 2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: g.$toast-z-index;
  max-width: 420px;
  animation-name: enter;
  transform: translateY(0);

  &--closing {
    animation-name: exit;
    transform: translateY(100%);
  }

  &__content {
    display: flex;
    gap: calc(g.$spacing-unit * 2);
    padding: calc(g.$spacing-unit * 2) calc(g.$spacing-unit * 2);
    justify-content: center;
    align-items: center;
  }

  &__message-container {
    display: flex;
    gap: g.$spacing-unit;
    flex-direction: column;
  }

  &__message {
    font-weight: bold;
  }

  &__progress {
    width: 100%;
    height: 5px;

    &::-webkit-progress-bar {
      background-color: var(--md-sys-color-surface-container-high);
    }

    &::-webkit-progress-value {
      background-color: var(--kraken-primary);
    }
  }

  &__close-button {
    color: var(--md-sys-color-on-surface);
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--md-sys-color-on-surface-variant);
    }
  }

  &__icon {
    &--success {
      color: var(--kraken-secondary);
    }

    &--error {
      color: var(--md-sys-color-error);
    }

    &--warning {
      color: var(--kraken-tertiary);
    }
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
