@use "../../scss/g.scss" as g;

.auto-update-sub-header {
  border-bottom: solid 1px g.$body-color;
  padding: calc(g.$spacing-unit / 2) calc(g.$spacing-unit * 3);

  &__new-version-link {
    display: flex;
    align-items: center;
    gap: g.$spacing-unit;
    color: #8e919b;
    font-size: 12px;
  }

  &__new-version-icon {
    color: g.$success-color;
  }

  &__new-version-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: g.$spacing-unit;
    color: g.$body-color;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
