@use "../../scss/g.scss" as g;

.sidebar-profile {
  position: relative;
  display: flex;
  align-items: center;
  gap: g.$spacing-unit;
  padding: g.$spacing-unit calc(g.$spacing-unit * 2);

  &__button {
    display: flex;
    cursor: pointer;
    transition: all ease 0.1s;
    color: var(--md-sys-color-on-surface-variant);
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: g.$spacing-unit g.$spacing-unit;
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--kraken-primary) 10%,
        transparent
      );
    }
  }

  &__button-content {
    display: flex;
    align-items: center;
    gap: calc(g.$spacing-unit + g.$spacing-unit / 2);
    width: 100%;
  }

  &__button-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 0;
  }

  &__button-title {
    font-weight: bold;
    font-size: g.$body-font-size;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__notification-button {
    color: var(--md-sys-color-on-surface-variant);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: var(--md-sys-color-surface-container);
    position: relative;
    transition: all ease 0.3s;
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--kraken-primary) 10%,
        transparent
      );
    }
  }

  &__notification-button-badge {
    background-color: g.$success-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    font-weight: bold;
  }

  &__game-running-icon {
    border-radius: 4px;
  }

  &__button-game-running-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    line-height: 1.15;
  }
}
