@use "../../scss/g.scss" as g;

.star-rating {
  display: flex;
  align-items: center;
  gap: 2px;

  &__star {
    color: g.$muted-color;
    transition: color ease 0.2s;

    &--filled {
      color: var(--md-sys-color-on-surface);
    }

    &--empty {
      color: g.$muted-color;
    }

    &--half {
      color: var(--md-sys-color-on-surface);
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }
  }

  &__half-star {
    position: relative;
    display: inline-block;
  }

  &__value {
    margin-left: 4px;
    font-size: 12px;
    color: g.$muted-color;
    font-weight: 500;
  }

  &__calculating-text,
  &__no-rating-text {
    margin-left: 4px;
    font-size: 12px;
    color: g.$muted-color;
  }

  &--calculating,
  &--no-rating {
    .star-rating__star {
      color: g.$muted-color;
    }
  }
}
