@use "../../scss/g.scss" as g;
@use "../../scss/material-tokens.scss" as m;

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  border-radius: inherit;
  z-index: 0;

  &--disabled {
    display: none;
  }

  &__inner {
    position: absolute;
    border-radius: 50%;
    background-color: var(--ripple-color, currentColor);
    opacity: 0;
    transform: scale(0);
    animation: ripple-animation 600ms m.$motion-easing-decelerated;
    pointer-events: none;
  }
}

@keyframes ripple-animation {
  0% {
    opacity: 0.4;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}
