@use "../../scss/g.scss" as g;

.select-field {
  display: inline-flex;
  transition: all ease 0.2s;
  width: fit-content;
  align-items: center;
  border-radius: g.$border-radius-md;
  border: 1px solid var(--md-sys-color-outline-variant);
  height: 40px;
  min-height: 40px;
  background-color: var(--md-sys-color-surface-container);

  &__container {
    flex: 1;
  }

  &:hover {
    border-color: var(--md-sys-color-on-surface-variant);
  }

  &--focused {
    border-color: var(--kraken-primary);
  }

  &--primary {
    background-color: var(--md-sys-color-surface-container);
  }

  &--dark {
    background-color: var(--md-sys-color-surface-container);
  }

  &__option {
    background-color: transparent;
    border-right: 4px solid;
    border-color: transparent;
    border-radius: g.$border-radius-md;
    width: fit-content;
    height: 100%;
    outline: none;
    color: var(--md-sys-color-on-surface);
    cursor: default;
    font-family: inherit;
    font-size: g.$body-font-size;
    text-overflow: ellipsis;
    padding: g.$spacing-unit;
  }

  &__label {
    margin-bottom: g.$spacing-unit;
    display: block;
    color: var(--md-sys-color-on-surface-variant);
  }
}
