@use "../../scss/g.scss" as g;

.profile-avatar {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: g.$background-color;
  border: solid 1px g.$border-color;
  cursor: pointer;
  color: g.$muted-color;
  position: relative;
  overflow: hidden;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
  }
}
