@use "../../../scss/g.scss";

.cloud-sync-files-modal {
  &__mapping-methods {
    display: grid;
    gap: g.$spacing-unit;
    grid-template-columns: repeat(2, 1fr);
  }

  &__file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
    margin-top: calc(g.$spacing-unit * 2);
  }

  &__file-item {
    flex: 1;
    color: g.$muted-color;
    text-decoration: underline;
    display: flex;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: g.$spacing-unit;
  }

  &__mapping-label {
    margin-bottom: g.$spacing-unit;
  }

  &__custom-path {
    margin-top: calc(g.$spacing-unit * 2);
  }
}
