@use "../../scss/g.scss" as g;

.game-item {
  background-color: g.$dark-background-color;
  width: 100%;
  color: var(--md-sys-color-on-surface);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  border: 1px solid g.$border-color;
  cursor: pointer;
  gap: calc(g.$spacing-unit * 2);
  transition: all ease 0.2s;

  &:hover {
    background-color: rgba(var(--md-sys-color-on-surface-rgb), 0.05);

    .game-item__plus-wrapper {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__plus-wrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }

  &__plus-wrapper--added {
    opacity: 0.5;
  }

  &__cover {
    width: 200px;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid g.$border-color;
  }

  &__cover-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: g.$body-color;
    width: 200px;
    height: 103px;
    background: linear-gradient(
      90deg,
      rgba(var(--md-sys-color-on-surface-rgb), 0.1) 0%,
      rgba(var(--md-sys-color-on-surface-rgb), 0.05) 50%,
      rgba(var(--md-sys-color-on-surface-rgb), 0.1) 100%
    );
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    padding: calc(g.$spacing-unit * 2) 0;
  }

  &__genres {
    color: g.$body-color;
    font-size: 12px;
    text-align: left;
    margin-bottom: 4px;
  }

  &__repackers {
    display: flex;
    gap: g.$spacing-unit;
    flex-wrap: wrap;
  }
}
