@use "../../scss/g.scss" as g;

.achievement-panel {
  width: 100%;
  padding: g.$spacing-unit * 2 g.$spacing-unit * 3;
  background-color: g.$background-color;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-bottom: solid 1px g.$border-color;

  &__content {
    display: flex;
    gap: g.$spacing-unit;
    justify-content: center;
    align-items: center;
  }

  &__actions {
    display: flex;
    gap: g.$spacing-unit;
  }

  &__download-details-row {
    gap: g.$spacing-unit;
    display: flex;
    color: g.$body-color;
    align-items: center;
  }

  &__downloads-link {
    color: g.$body-color;
    text-decoration: underline;
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: all ease 0.2s;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: g.$muted-color;
    }

    &--disabled {
      opacity: g.$disabled-opacity;
    }
  }

  &__link {
    text-align: start;
    color: g.$body-color;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &--warning {
      color: g.$warning-color;
    }
  }

  &__grid {
    display: grid;
    gap: g.$spacing-unit * 2;
  }

  &__grid--with-subscription {
    grid-template-columns: 3fr 1fr 1fr;
  }

  &__grid--without-subscription {
    grid-template-columns: 3fr 2fr;
  }

  &__points-container {
    display: flex;
    gap: g.$spacing-unit;
  }

  &__content-icon {
    width: 18px;
    height: 18px;
  }
}
