@use "../../scss/g.scss" as g;
@use "sass:color";

.theme-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: calc(g.$spacing-unit + 1px);
    background-color: g.$dark-background-color;
    font-size: 8px;
    z-index: 50;
    -webkit-app-region: drag;
    gap: 8px;

    &--darwin {
      padding-top: calc(g.$spacing-unit * 6);
    }

    h1 {
      margin: 0;
      line-height: 1;
    }

    &__status {
      display: flex;
      width: 9px;
      height: 9px;
      background-color: g.$muted-color;
      border-radius: 50%;
      margin-top: 3px;
    }
  }

  &__editor {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
  }

  &__notification-preview-wrapper {
    position: relative;
    border: 1px solid g.$muted-color;
    border-radius: 2px;
    flex: 1;
    min-width: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    background-color: g.$dark-background-color;
    padding: g.$spacing-unit g.$spacing-unit * 2;
    gap: 24px;

    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .active {
          background-color: color-mix(
            in srgb,
            var(--md-sys-color-surface) 92%,
            var(--md-sys-color-outline-variant)
          );
        }
      }
    }
  }

  &__info {
    padding: 8px;

    p {
      font-size: 16px;
      font-weight: 600;
      color: g.$muted-color;
      margin-bottom: 8px;
    }
  }

  &__notification-preview {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__select-variation {
      flex: inherit;
    }
  }

  &__notification-preview-controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
  }

  &__notification-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__sound-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  &__sound-actions-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}
